<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="lydiaxing.github.io">
                        Lydia Xing
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
          Kudos to <a href="http://www.creative-tim.com">Creative Tim</a> for site theme
        </p>
    </div>
</footer>
