<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Create</h4>
            <p class="category">Start a new trajectory - see the help tab</p>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <app-canvas></app-canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">Dashboard</h4>
              <p class="category">Add or edit waypoints here</p>
            </div>
            <div class="card-content">
                <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput [disabled]="true" placeholder="#" [(ngModel)]="row.id">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="x">
                    <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput type="number" placeholder="X position" [(ngModel)]="row.currentData.x">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="y">
                    <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput type="number" placeholder="Y Position" [(ngModel)]="row.currentData.y">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="theta">
                    <mat-header-cell *matHeaderCellDef> Theta </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput type="number" placeholder="Theta" [(ngModel)]="row.currentData.theta">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actionsColumn">
                    <mat-header-cell *matHeaderCellDef>
                      <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
                    <i class="fa fa-pencil mat-icon"></i>
                  </button>
                      <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                    <i class="fa fa-check mat-icon"></i>
                  </button>
                      <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
                    <i class="fa fa-times mat-icon"></i>
                  </button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <button type="submit" class="btn btn-danger pull-right pull-down"><i class="material-icons">get_app</i> Generate!</button>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">Settings</h4>
              <p class="category">General stats about your drive base</p>
            </div>
            <div class="card-content">

                  <edit-settings>loading</edit-settings>

            </div>
          </div>

        </div>
      </div>
    </div>
