<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Create</h4>
            <p class="category">Start a new trajectory - see the help tab</p>
          </div>
          <div class="card-content">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <app-canvas></app-canvas>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">Dashboard</h4>
              <p class="category">Add or edit waypoints here</p>
            </div>
            <div class="card-content">
              <form>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">X position</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Y position</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Angle</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-danger pull-right"><i class="material-icons">add</i> Add</button>
                <div class="clearfix"></div>
                <div class="card-content table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>X Position</th>
                        <th>Y Position</th>
                        <th>Angle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1 m</td>
                        <td>2 m</td>
                        <td>90 deg</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-danger pull-right"><i class="material-icons">edit</i> Edit</button>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Trajectory Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-danger pull-right"><i class="material-icons">get_app</i> Generate!</button>
              </form>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">Settings</h4>
              <p class="category">General stats about your drive base</p>
            </div>
            <div class="card-content">
              <form>
                <div class="card-content table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Wheelbase width</th>
                        <th>Max velocity</th>
                        <th>Max acceleration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10 m</td>
                        <td>20 m/s</td>
                        <td>5 m/s^2</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <button type="submit" class="btn btn-danger pull-right"><i class="material-icons">edit</i> Edit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
