<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="card">
          <div class="card-header" data-background-color="red">
              <h4 class="title">Settings</h4>
              <p class="category">General stats about your drive base</p>
          </div>
          <div class="card-content">
            <form>
                  <div class="row">
                    <div class="form-group form-black label-floating is-empty col-md-3">
                        <label class="control-label">Wheelbase Width</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="form-group form-black label-floating is-empty col-md-3">
                        <label class="control-label">Max Velocity</label>
                        <input type="text" class="form-control" >
                    </div>
                  </div>
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Max Acceleration</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Max Jerk</label>
                        <input type="text" class="form-control" >
                    </div>

            <button type="submit" class="btn btn-danger pull-right">Save</button>
          </form>
          </div>
        </div>
      </div>
    </div>
</div>
